body {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(./assets/hannah-busing-Zyx1bK9mqmA-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}
main {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 20%;
}
.homePreview {
    min-height: 80vh;
}
.card {
    border: none;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
}
.admin {
    position: fixed;
    top: 0;
    left: 0;
    color: transparent;
}
.admin:hover {
    color: transparent;
    cursor: default;
}
